<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
    <header th:replace="fragments/header :: header">
    </header>
    
    <main role="main">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h1>Contact</h1>
                    <hr />

	                <strong>Michael Curtis McNulty</strong><br />
	                Somers Point, NJ 08244<br />
	                <br/>
                    <a href="mailto:michaelcurtismcnulty@outlook.com">Email: michaelcurtismcnulty@outlook.com</a>
                    <br/>
                    <a href="https://www.linkedin.com/in/michaelcurtismcnulty/">Linkedin: https://www.linkedin.com/in/michaelcurtismcnulty/</a>
                    <br/>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
